body {
  padding: 0;
  margin-top: 60px;
  background-color: rgb(216, 255, 245);
  font-family: 'Comic Sans MS', sans-serif;
}

main {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-board {
  width: 950px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/Grass.jpg");
  background-size: cover;
  border: 1px solid rgb(93, 156, 73);
  border-radius: 10%;
  position: relative; /* Ensure positioning context for absolutely positioned elements */
}

.pngtree-link {
  position: absolute;
  font-size: 10px;
  left: 100px;
}


/* START SCREEN */
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 30%;
  height: 50%;
}

.start-screen h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  color: rgb(66, 47, 31);
}

.start-screen p {
  margin: 10px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(31, 70, 19);
}

.instructions p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  color: rgb(37, 51, 32);
  font-weight: normal;
}

.instructions p span {
  font-weight: bold;
  color: rgb(66, 47, 31);
}

.start-screen button {
  margin: 30px 0;
  padding: 8px 25px;
  background-color: rgb(31, 70, 19);
  color: white;
  border: 0.4px solid rgb(21, 77, 23);
  border-radius: 4px;
}

.start-screen button:hover {
  cursor: pointer;
}

.start-screen .instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keys-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.keys-img {
  width: 200px;
  margin: 0 40px;
}

/* GAME STATS */
.game-stats {
  width: 20%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.fa-heart {
  color: rgb(236, 29, 57); /* Set the color of the heart icon */
  font-size: 30px; /* Adjust the size of the heart icon */
  margin-right: 5px; /* Add spacing between heart icons */
}

.game-stats p {
  font-weight: bold;
  color: rgba(221, 221, 16, 0.634);
}

/* GAME HOLES */
.holes {
  width: 950px;
  height: 600px;
  position: absolute;
  margin-left: 300px;
}

.highlighted-hole {
  border: 2px solid rgb(230, 200, 117);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 230, 0, 0.5);;
}

/* MOLES MOVEMENT */
.mole {
  transition: left 4s ease-in-out, top 1s ease-in-out; /* Smooth transition for left and top properties */
}
/* GAME OVER SCREEN */
.game-over-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 30%;
  height: 50%;
}

.game-over-screen h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  color: rgb(66, 47, 31);
}

.game-over-screen p {
  text-align: center;
  font-size: 20px;
}

.game-over-screen button {
  margin: 30px 0;
  padding: 8px 25px;
  background-color: rgb(31, 70, 19);
  color: white;
  border: 0.4px solid rgb(21, 77, 23);
  border-radius: 4px;
}

.game-over-screen button:hover {
  cursor: pointer;
}
